* {
  margin: 0;
}
:root {
  --primary-background: #ededed;
  font-family: "SF Pro Text", "SF Pro Icons", system, -apple-system, system-ui, system-ui, "Helvetica Neue", Helvetica, "Lucida Grande", "Kohinoor Devanagari", sans-serif;
}


