.sidebar {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  background-color: var( --primary-background);
}
.sidebar__header{
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  background-color: var( --primary-background);
  border-right: 1px solid lightgray;
  align-items: center;
}
.sidebar__header > .MuiSvgIcon-root {
  font-size: 24px;
  margin-right: 1.5vw;
}

.sidebar__search{
  padding: 5px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  border-right: 1px solid lightgray;
  height: 50px;
}

.sidebar__searchContainter{
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  width: 100%;
  height: 40px;
}

.sidebar__searchContainter > .MuiSvgIcon-root {
  margin-left: 10px;
  color: gray;
}

.sidebar__searchContainter > input {
  border: none;
  outline-width: 0;
  width: 80%;
  height: 30px;
}
.sidebar__chats{
  border-right: 1px solid rgba(0,0,0,0.03);
  background-color: white;
  flex: 1;
  overflow: scroll;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .sidebar{
    /* display: none; */
    position: fixed;
    top: 0;
    z-index: 10;
    height: 100vh;
  }
}